html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    text-align: center;
    color: black;
}
.bg {
    position: absolute;
    height: 100%;
    width: 100%;
}
.bg:after {
    content:"";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/grand_canyon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
    opacity: .85;
    z-index: -1;
}
